*.class
*.apk
*.cache

*.classpath
*.settings/
*.project
*.metadata


CampusPo/bin

CampusPo/gen

android-support-v7-appcompat/bin

android-support-v7-appcompat/gen

google-play-services_lib/gen

google-play-services_lib/bin
